.login {
  background-color: #3D3522;
  display: flex;
  width: 300px;
  flex-flow: column wrap;
  padding: 20px;
}

.login h3 {
  font-weight: 900;
}

.login-form {
  display: flex;
  flex-flow: column;
  margin: 20px 0;
}

.login-form input {
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  color: #CAF7E2;
}

.login-form button {
  outline: none;
  border: none;
  color: #222a22;
  background-color: #58B09C;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  font-weight: 900;
}

.login-form button:hover {
  background-color: #68C0aC;
}

.login-form span {
  color: #D1AC00;
  font-size: 14px;
}